<div class="">
    <div class="page-title">
        <div class="title_left">
        </div>



        <div class="clearfix"></div>

        <div class="row">
            <div class="col-md-12">
                <div class="x_panel">
                    <div class="x_title">
                        <!-- start project list -->
                        <table class="table table-striped projects">
                            <thead>
                                <tr>
                                    <th style="width: 20%">ID_Report</th>
                                    <th style="width: 20%">ID_Account</th>
                                    <th style="width: 20%">Latitude</th>
                                    <th style="width: 20%">Longitude</th>
                                    <th style="width: 20%">Time</th>
                                    <th style="width: 20%">Click</th>
                                </tr>
                            </thead>
                        </table>
                        <!-- end project list -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>